@import '@repo/tailwind-config/global.css';

@layer base {
  :root {
    --bg: #0a0a0a;
    --text: #f5f5f5;
    --muted: #888888;
    --stroke: #1f1f1f;
  }
}

@theme inline {
  --font-display: var(--font-instrument);
}
